<section id="book-a-table" class="book-a-table">
      <div class="container">

        <div class="section-title">
          <h2>Book a <span>Table</span></h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <form action="" method="post" role="form" >
            {% csrf_token %}
            {{ reservation }}
         <p style="text-align: center">
          <div  class="text-center"><button type="submit" class="btn btn-primary" style="color: whitesmoke">Send Message</button></div>
        </p>
        </form>

      </div>
    </section>